@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

.gradient {
  -webkit-text-stroke: .1em;
  -webkit-text-stroke-color: black;
  border: black;
  
  
}
.background-image {
  min-height: 100vh;
  background-image: url('../img/introBackground.jpg');
  background-size: cover;
  background-position: center;
}
.github:hover {
  color: black;
  text-size-adjust: 48rem;
}

.change {
  background-color: '#60a5fa';
  border-color: 'white';
}



.hr:hover {
  color: blue;
  width: 45vw;
  transition: .05s;
}
/* styles/globals.css */
.hr {
  margin-left: 7%;
  width: 65vw;
  
  border-width: 30px;
  border-radius: 45%;
  transition: width 0.05s, transform 0.05s;
  transform-origin: center;
}

.hr:hover {
  border-color: blue; /* Note: use `border-color` instead of `color` for hr */
  width: 45vw;
  transform: translateX(20vh);
}
/* styles.css */
.hr1 {
  transition: width 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  width: 45vw;
  border-width: 40px;
  border-radius: 45%;
}

.hr1:hover {
  border-color: blue; /* Change border color on hover */
  width: 45vw; /* Change width on hover */
  transform: translateX(-2.5vw); /* Adjust translation to keep centered */
  
}




